body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sample { padding: 20px 0; }

.field SPAN{
  display: inline-block;
  width: 140px;
  text-align: right;}
